<%= link_to "Retour", root_path %>
<h1> le nombre de réservations : <%= @document.nbresa %> </h1>
<h1> le nombre d’acheteurs uniques : <%= @document.nbbuyers %> </h1>
<h1> l’âge moyen des acheteurs (arrondi en chiffre entier) : <%= @document.buyersage %> </h1>
<h1> le prix moyen par représentation : <%= @document.resaprice %> </h1>
